.header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 5px solid black;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: black;
    font: bold 1.5rem sans-serif;
}

.logo a {
    font-size: 2rem;
}

.header-nav {
    display: flex;
    justify-content: center; 
}
  
.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-side {
    margin-left: -1rem;
}

.right-side {
    margin-right: 1rem;
}

.left-side, .right-side {
    display: flex;
}