body {
    overflow-x: hidden; 
    margin: 0; 
    padding: 0; 
}

.landing-container {
    display: flex;
}

.landing-image {
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    order: 2;
    margin-top: 3rem;
}

.landing-content {
    height: 100vh;
    width: 50%;
    padding-left: 2rem;
    order: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    color: black;
    margin-bottom: 0rem;
}

.landing-subtitle {
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: black;
}

.get-started-button {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.get-started-button:hover {
    background-color: #444;
}